# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1

# Environment
EXPO_PUBLIC_ENV=development

# Sentry (opcional)
# EXPO_PUBLIC_SENTRY_DSN=

# Analytics (opcional)
# EXPO_PUBLIC_ANALYTICS_ID=
